.App{
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items:center;
  flex-direction: column;
  background: gray;
  color: aliceblue;
  min-height: 100vh;
}

button{
  width: 300px;
  padding: 5px 25px;
  margin: 10px;
  color: #ffffff;
  background-color: #007bff;
  font-size: 20px;
  border-radius: 15px;
  text-transform: uppercase;
}